html,
body,
#__nuxt {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


html {
    --header-bg-filter: saturate(200%) blur(20px);
    --header-border-color:  rgba(189,189,189, 0.3);
}

body {
    background-color: var(--backgroud);
    color: var(--color);
}

// 白色
html:not(.dark) {
    --backgroud: #fdfdfd;
    --color: #333;
    --pre-border-color: rgb(99, 99, 99);
    --header-bg-color: rgba(255, 255, 255, 0.623);

    --pillar-base-color: #dfdfdf;

    // 滚动条滑块的颜色
    --scrollbar-thumb-color: #d4d4d8;
    // 滚动条轨道的颜色
    --scrollbar-track-color: #dbdbdb00;
}

// 黑色
html:not(.light) {
    --backgroud: #161616;
    --color: #bcbcbc;

    --pre-border-color: #7a7a7a;
    --header-bg-color: #0c0d0ccc;
    --pillar-base-color: rgb(58 58 58 / 65%);

    // 滚动条滑块的颜色
    --scrollbar-thumb-color: #3f3f46;
    // 滚动条轨道的颜色
    --scrollbar-track-color: #27272a;
}

.resume-scroll, body {
    --scroll-width: 5px;
    --scroll-height: 5px;
    --scroll-radius: 1rem;

    &::-webkit-scrollbar {
        width: var(--scroll-width);
        height: var(--scroll-height);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-color);
        border-radius: var(--scroll-radius);
    }

    &::-webkit-scrollbar-track {
        background-color: var(--scrollbar-track-color);
        border-radius: var(--scroll-radius);
    }

}

// todo
// https://github.com/antfu/antfu.me/blob/main/src/logics/index.ts
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}
.dark::view-transition-old(root) {
  z-index: 9999;
}
.dark::view-transition-new(root) {
  z-index: 1;
}