.resume-prose {

    @apply text-black/90 dark:text-white/80;

    h1 {
        @apply text-5 sm:text-6 md:text-7 font-bold mb-3 sm:mb-4 md:mb-5;
    }

    h2{
        @apply text-4 sm:text-5 md:text-6 font-bold mb-3 sm:mb-4 md:mb-5;
    }

    h3 {
        @apply text-3 sm:text-4 md:text-5 font-bold mb-3 sm:mb-4 md:mb-5;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
        width: 100%;

        a {
            text-decoration: none;
            border-bottom: none;
        }
    }


    ol{
        @apply mb-3 sm: mb-4 md:mb-5;

        width: 100%;

        li {
            @apply list-disc list-inside text-3 md:text-4;
        }
    }

    ul {
        width: 100%;
        @apply mb-3 sm: mb-4 md:mb-5;

        li {
            @apply list-decimal list-inside text-3 md:text-4;
        }
    }

    a {
        font-weight: inherit;
        text-decoration: none;
    }

    p {
        width: 100%;
        @apply leading-relaxed my-3 text-3 md:text-4;
    }

    code {
        @apply text-3 md:text-4;
    }

}